dj-database-url==0.5.0
Django==4.0.3
django-heroku==0.0.0
flatbuffers==2.0
fonttools==4.30.0
frozenlist==1.3.0
gast==0.5.3
google==3.0.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
joblib==1.1.0
kiwisolver==1.4.0
libclang==13.0.0
Markdown==3.3.6
mido==1.2.10
msmtools==1.2.6
multidict==6.0.2
multiprocess==0.70.12.2
numpy==1.22.3
oauthlib==3.2.0
oc==0.2.1
opt-einsum==3.3.0
packaging==21.3
Pillow==9.0.1
pox==0.3.0
ppft==1.6.6.4
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycosat==0.6.3
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pytz==2021.3
PyYAML==6.0
requests-oauthlib==1.3.1
rsa==4.8
sklearn==0.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.7
Werkzeug==2.0.3
whitenoise==6.1.0
wrapt==1.14.0
yarl==1.7.2
zipp==3.7.0
