absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.7.4
aiosignal==1.2.0
asgiref==3.5.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.4.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.11.1
bhmm==0.6.3
brotlipy==0.7.0
cachetools==5.0.0
ccxt==1.80.93
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
conda==4.12.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262147379/work
crypto-data-fetcher==1.0.0
cryptography @ file:///tmp/build/80754af9/cryptography_1639414572950/work
cycler==0.11.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deeptime==0.4.1
dill==0.3.4
discord.py==1.7.3
dj-database-url==0.5.0
Django==4.0.3
django-heroku==0.0.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
flatbuffers==2.0
fonttools==4.30.0
frozenlist==1.3.0
gast==0.5.3
google==3.0.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.3
ipykernel @ file:///tmp/build/80754af9/ipykernel_1647000773790/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1648817057602/work
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
joblib==1.1.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1646976314572/work
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
libclang==13.0.0
Markdown==3.3.6
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdtraj==1.9.7
mido==1.2.10
msmtools==1.2.6
multidict==6.0.2
multiprocess==0.70.12.2
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847906199/work
numpy==1.22.3
oauthlib==3.2.0
oc==0.2.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathos==0.2.8
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pox==0.3.0
ppft==1.6.6.4
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyEMMA==2.5.11
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyNaCl==1.4.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638434985866/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rsa==4.8
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.8.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
torch==1.11.0
tornado @ file:///tmp/build/80754af9/tornado_1606942317143/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions==4.1.1
urllib3==1.26.7
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==2.0.3
whitenoise==6.1.0
wrapt==1.14.0
xgboost==1.5.2
yarl==1.7.2
zipp==3.7.0
